.container {
  max-height: none;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 20px 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.inputSection,
.addButton {
  width: 300px;
  height: 50px;
  text-align: center;
  border: 0;
  border-radius: 8px;
  font-size: 20px;
  box-sizing: border-box;
}

.inputSection {
  background-color: #f5f3f3;
  color: #212121;
  margin-top: 18px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.inputSection:focus {
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

.addButton {
  margin-top: 12px;
  background-color: #3aa0d8;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.addButton:hover {
  background-color: #318bb6;
  color: #e0f7ff;
}

.list {
  max-width: 88%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
  gap: 4px;
  list-style-type: none;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.itemSlot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  color: #212121;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  margin: 4px;
  border: 0;
  cursor: pointer;
  font-size: 16px;
}
.itemSlot:hover {
  background-color: #eae8e8;
}

.item {
  flex-grow: 1;
  margin: 0 10px;
  font-size: 18px;
}
